<ion-header>
  <ion-toolbar color="primary">
    <h3 class="text"><strong>Redes Sociales</strong></h3>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="tablero">
    <a [href]="linkyoutube"> <img class="iconos" src="assets/icon/7.RedesSociales/1.Youtube.png" alt=""></a>
    Youtube
  </div>

  <div class="tablero" id="csu">
    <a [href]="linkfacebook"> <img class="iconos" src="assets/icon/7.RedesSociales/2.Facebook.png" alt=""></a>
    Facebook
  </div>

  <div class="tablero" id="aulas_virtuales">
    <a [href]="linkgooglemap"> <img class="iconos" src="assets/icon/7.RedesSociales/3.GoogleMap.png" alt=""></a>
    Tour Virtual FaCSalUQ
  </div>

  <div class="tablero" id="aulas_virtuales">
    <a [href]="linkportalweb"> <img class="iconos" src="assets/icon/7.RedesSociales/4.PortalWeb.png" alt=""></a>
    Portal Web UQ
  </div>

  <div class="tablero" id="aulas_virtuales">
    <a [href]="linkdirectorios"> <img class="iconos" src="assets/icon/7.RedesSociales/5.Directorio.png" alt=""></a>
    Directorio
  </div>

  <div class="tablero" id="aulas_virtuales">
    <a [href]="linkeventos"> <img class="iconos" src="assets/icon/7.RedesSociales/6.Eventos.png" alt=""></a>
    Eventos
  </div>

  <div class="tablero" id="aulas_virtuales">
    <a [href]="linkmosaicos"> <img class="iconos" src="assets/icon/7.RedesSociales/7.Mosaicos.png" alt=""></a>
    Mosaicos
  </div>

  <ion-button (click)="regresar()" expand="block">Regresar</ion-button>
</ion-content>