<ion-header>
  <ion-toolbar color="primary">
    <h3 class="text"><strong>Biblioteca</strong></h3>
  </ion-toolbar>
</ion-header>

<ion-content>

        <div class="tablero" >
          <a href=""> <img class="iconos" src="assets/icon/3.Biblioteca/1.BibliotecaCRAI.png" alt=""></a>
          Youtube
        </div>

        <div class="tablero" id="csu">
          <a href=""> <img class="iconos" src="assets/icon/3.Biblioteca/3.BibliotecaFacultad.png" alt=""></a>
          Facebook
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href=""> <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt=""></a>
          Google Map
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href=""> <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt=""></a>
          Portal Web UQ
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href=""> <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt=""></a>
          Directorio
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href=""> <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt=""></a>
          Trentos??
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href=""> <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt=""></a>
          Mosaicos
        </div>

        <ion-button (click)="regresar()" expand="block">Regresar</ion-button>
</ion-content>
