<ion-header>
  <ion-toolbar color="primary">
    <h3 class="text"><strong>Biblioteca</strong></h3>
  </ion-toolbar>
</ion-header>

<ion-content>

        <div class="tablero" >
          <a href="https://www.youtube.com/channel/UC46RMqZYV9dG2LOgBnu3iNA"> <img class="iconos" src="assets/icon/3.Biblioteca/1.BibliotecaCRAI.png" alt=""></a>
          Youtube
        </div>

        <div class="tablero" id="csu">
          <a href="https://web.facebook.com/FacultadCienciasSaludUQ/?_rdc=1&_rdr"> <img class="iconos" src="assets/icon/3.Biblioteca/3.BibliotecaFacultad.png" alt=""></a>
          Facebook
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href="https://www.google.com/maps/d/u/1/edit?hl=es&mid=1wyXBr9TmVo9T-XfSQKn3kwWwwVLoarJW&ll=4.556184712181709%2C-75.6588284114789&z=20"> <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt=""></a>
          Google Map
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href="https://www.uniquindio.edu.co/"> <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt=""></a>
          Portal Web UQ
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href="https://www.uniquindio.edu.co/directorio/"> <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt=""></a>
          Directorio
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href="https://noticias2020.uniquindio.edu.co/category/obliga/eventos/"> <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt=""></a>
          Eventos
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href="https://drive.google.com/drive/folders/1NNmCZ3-T7PG6pbU4toUhG30xpD8xxfDF?usp=sharing"> <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt=""></a>
          Mosaicos
        </div>

        <ion-button (click)="regresar()" expand="block">Regresar</ion-button>
</ion-content>
