<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>

    <ion-title class="center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu 
    side="start" 
    menuId="menu"
    contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Editar Perfil</ion-item>
      <ion-item (click)="onLogout()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="principal"></ion-router-outlet>
<ion-content>
  <ion-grid id="panel_principal">
      <ion-row >
        <ion-col>
          <div class="tablero" id="sac">
            <a href="https://enlinea.uniquindio.edu.co/enlinea/#!/categories"> <img class="iconos" src="assets/icon/4.SAC.png" alt=""></a>
            SAC
          </div>
        </ion-col>
        <ion-col >
          <div class="tablero" id="csu">
            <a href="https://csu.uniquindio.edu.co/formulario/User"> <img class="iconos" src="assets/icon/5.OlvidoContrasenia+CSU.png" alt=""></a>
            CSU
          </div>
        </ion-col>
        <ion-col>
          <div class="tablero" id="aulas_virtuales">
            <a href="https://aulasvirtuales.uniquindio.edu.co/login/index.php"> <img class="iconos" src="assets/icon/6.AulasVirtualesCampusVirtual.png" alt=""></a>
            Aulas Virtuales Moodle
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="tablero">
            <a href="https://noticias.uniquindio.edu.co/"> <img class="iconos" src="assets/icon/7.Noticias.png" alt=""></a>
            NOTICIAS UNIQUINDIO
          </div>
        </ion-col>
        <ion-col >
          <div class="tablero">
            <a href="https://library.uniquindio.edu.co/"> <img class="iconos" src="assets/icon/8.Bilioteca.png" alt=""></a>
            BIBLIOTECA CRAI GENERAL
          </div>
        </ion-col>
        <ion-col>
          <div class="tablero">
            <a href="https://library.uniquindio.edu.co/databases#faccienciasdelasalud"> <img class="iconos" src="assets/icon/9.BasesDatosFacultad.png" alt=""></a>
            BIBLIOTECA: DATABASE FAC. SALUD
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="tablero">
            <a href="https://www.uniquindio.edu.co/bienestar/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            BIENESTAR
          </div>
        </ion-col>
        <ion-col >
          <div class="tablero">
            <a href="https://www.uniquindio.edu.co/convocatorias/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            CONVOCATORIAS
          </div>
        </ion-col>
        <ion-col>
          <div class="tablero">
            <a href="http://trabajando.uniquindio.edu.co/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            BOLSA DE EMPLEO
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="tablero">
            <a href="https://intraweb.uniquindio.edu.co/index.php?option=com_formasonline&formasonlineform=ve_panel_coordinador&Itemid=340"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            GPE:  GESTIÓN DE PROYECTOS DE EXTENSIÓN
          </div>
        </ion-col>
        <ion-col >
          <div class="tablero">
            <a href="https://www.youtube.com/channel/UC46RMqZYV9dG2LOgBnu3iNA"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            CANAL YOUTUBE FaCSalUQ
          </div>
        </ion-col>
        <ion-col>
          <div class="tablero">
            <a href="https://www.uniquindio.edu.co/publicaciones/373/estatutos/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            ESTATUTOS
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="tablero">
            <a href="https://www.uniquindio.edu.co/programas/publicaciones/312/medicina/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            PROGRAMA MEDICINA
          </div>
        </ion-col>
        <ion-col >
          <div class="tablero">
            <a href="https://www.uniquindio.edu.co/programas/publicaciones/314/enfermeria/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            PROGRAMA ENFERMERÍA
          </div>
        </ion-col>
        <ion-col>
          <div class="tablero">
            <a href="https://www.uniquindio.edu.co/programas/publicaciones/315/gerontologia/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            PROGRAMA GERONTOLOGÍA
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="tablero">
            <a href="https://www.uniquindio.edu.co/programas/publicaciones/313/seguridad-y-salud-en-el-trabajo/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            PROGRAMA SEGURIDAD Y SALUD EN EL TRABAJO
          </div>
        </ion-col>
        <ion-col >
          <div class="tablero">
            <a href="https://www.uniquindio.edu.co/campus_virtual/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            CAMPUS VIRTUAL
          </div>
        </ion-col>
        <ion-col>
          <div class="tablero">
            <a href="https://www.uniquindio.edu.co/publicaciones/408/normatividad-institucional/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            NORMATIVA INSTITUCIONAL
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="tablero">
            <a href="https://forms.gle/TGfnToXhaFTWSoig6"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            PROGRAMAR ASESORÍA CON EDULAB
          </div>
        </ion-col>
        <ion-col >
          <div class="tablero">
            <a href="https://rise.articulate.com/share/_nBywMFSK6nN1Wr36Td6Va6lYC7Eq1lQ#/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            HISTORIA EDULAB: proyecto transformación pedagógica
          </div>
        </ion-col>
        <ion-col>
          <div class="tablero">
            <a href="https://www.uniquindio.edu.co/publicaciones/373/estatutos/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            CONTACTO CRAI
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <div class="tablero">
            <a href="https://forms.gle/TGfnToXhaFTWSoig6"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            DIRECTORIO
          </div>
        </ion-col>
        <ion-col >
          <div class="tablero">
            <a href="https://rise.articulate.com/share/_nBywMFSK6nN1Wr36Td6Va6lYC7Eq1lQ#/"> <img class="iconos" src="assets/icon/icono.png" alt=""></a>
            CARTELERA DE EVENTOS
          </div>
          <div class="tablero">
            
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>