<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="center">TableroMando</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>

    <div class="dato">
      <h1><br><span> Facsaluq a un clic.</span></h1>
      <p class="lead">Es una aplicación de la <b>Faculta de la salud</b> que busca facilitar el acceso a las diferentes
        plataformas de la Universidad del Quindío.
        Además incorpora todo los programas de la Faculta.<a href="https://www.uniquindio.edu.co/">Univerisad del
          Quindío.</a>.</p>

    </div>


  </ion-item>

  <div class="center">
    <ion-button (click)="onLogout()">Desconectarse</ion-button>
  </div>
</ion-content>