<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button menu="menu" aria-hidden="false"></ion-menu-button>
    </ion-buttons>

    <ion-title class="center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="menu" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><a routerLink="/editar-usuario" expand="block">Editar Información</a></ion-item>
      <ion-item><a routerLink="/cambiar-contrasena" expand="block">Cambiar Contraseña</a></ion-item>
      <ion-item (click)="onLogout()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="principal"></ion-router-outlet>
<ion-content>
  <ion-grid id="panel_principal">
    <ion-row>
      <ion-col>
        <div class="tablero">
          <img class="iconos" src="assets/icon/1.ServiciosAcademicos/1.ServiciosAcademicos.png" alt=""
            (click)="mostarServiciosAcademicos()">
          <p *ngIf="modalDataResponse">{{modalDataResponse}}</p>
          Servicios Académicos
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero">
          <img class="iconos" src="assets/icon/2.ProgramasAcademicos/0.ProgramasAcademicos.png" alt=""
            (click)="mostarProgramasAcademicos()">
          <p *ngIf="modalDataResponse">{{modalDataResponse}}</p>
          Programas Académicos
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero">
          <img class="iconos" src="assets/icon/3.Biblioteca/0.Biblioteca.png" alt="" (click)="mostarBiblioteca()">
          <p *ngIf="modalDataResponse">{{modalDataResponse}}</p>
          Biblioteca
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="tablero">
          <img class="iconos" src="assets/icon/4.eduLAB/0.eduLAB.png" alt="" (click)="mostarEdulab()">
          eduLAB
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero">
          <img class="iconos" src="assets/icon/5.Extension/0.Extension.png" alt="" (click)="mostarExtension()">
          Extensión
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero">
          <a [href]="linkbienestaruniversitario"><img class="iconos" src="assets/icon/6.BienestarUniversitario.png"
              alt=""></a>
          Bienestar Universitario
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="tablero">
          <img class="iconos" src="assets/icon/7.RedesSociales/0.RedesSociales.png" alt=""
            (click)="mostarRedesSociales()">
          Redes Sociales
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero">
          <a [href]="linknormativas"><img class="iconos" src="assets/icon/8.Normativa/0.Normativa.png" alt=""></a>
          Normativa
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero">
          <a [href]="linkcontactenos"><img class="iconos" src="assets/icon/9.Contacto.png" alt=""></a>
          Contáctenos
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero">
          <img class="iconos" src="assets/icon/10.Autores.png" alt="" (click)="mostarAutores()">
          Autores
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <br>
    <p class="textContador"><strong> Usuarios registrados: {{contadorU}} </strong></p>
    <p class="textContador"><strong> Interacciones en FaCSalUQ: {{contador}} </strong></p>
  </div>
  <div>
    <br>
    <img class="imgTransicion" src="assets/icon/transicion.png" alt="">
    <br>
  </div>
</ion-content>