.tablero {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 10px;
        margin:8px;
  }

.iconos {
    width:80px;
    height:80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:150px;
}