<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button menu="menu" aria-hidden="false" cache-view="false"></ion-menu-button>
    </ion-buttons>

    <ion-title class="center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="menu" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="onLogout()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="principal"></ion-router-outlet>
<ion-content>
  <ion-grid id="panel_principal">
    <ion-row>
      <ion-col>
        <div class="tablero" id="sac">
          <img class="iconos" src="assets/icon/1.ServiciosAcademicos/2.SAC.png" alt="">
          <ion-input placeholder="SAC" type="text" [(ngModel)]="sac" name="sac"></ion-input>
          <ion-button class="button button-small" (click)="actualizarSac()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="csu">
          <img class="iconos" src="assets/icon/1.ServiciosAcademicos/5.CSU.png" alt="">
          <ion-input placeholder="CSU" type="text" [(ngModel)]="csu" name="csu"></ion-input>
          <ion-button class="button button-small" (click)="actualizarCSU()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="campus_virtual">
          <img class="iconos" src="assets/icon/1.ServiciosAcademicos/4.Campus-Virtual.png" alt="">
          <ion-input placeholder="Campus Virtual" type="text" [(ngModel)]="campusvirtual" name="campusvirtual">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarCampusVirtual()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="aulas_virtuales">
          <img class="iconos" src="assets/icon/1.ServiciosAcademicos/3.AulasVirtuales.png" alt="">
          <ion-input placeholder="Aulas Virtuales" type="text" [(ngModel)]="aulasvirtuales" name="aulasvirtuales">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarAulasVirtuales()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="SST">
          <img class="iconos" src="assets/icon/2.ProgramasAcademicos/1.SST.png" alt="">
          <ion-input placeholder="SST" type="text" [(ngModel)]="sst" name="sst"></ion-input>
          <ion-button class="button button-small" (click)="actualizarSST()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="gerontologia">
          <img class="iconos" src="assets/icon/2.ProgramasAcademicos/2.Gerontologia.png" alt="">
          <ion-input placeholder="Gerontología" type="text" [(ngModel)]="gerontologia" name="gerontologia">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarGerontologia()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="enfermeria">
          <img class="iconos" src="assets/icon/2.ProgramasAcademicos/3.Enfermeria.png" alt="">
          <ion-input placeholder="Enfermeria" type="text" [(ngModel)]="enfermeria" name="enfermeria">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarEnfermeria()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="medicina">
          <img class="iconos" src="assets/icon/2.ProgramasAcademicos/4.Medicina.png" alt="">
          <ion-input placeholder="Medicina" type="text" [(ngModel)]="medicina" name="medicina"></ion-input>
          <ion-button class="button button-small" (click)="actualizarMedicina()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="preMedico">
          <img class="iconos" src="assets/icon/2.ProgramasAcademicos/4.Medicina.png" alt="">
          <ion-input placeholder="preMedico" type="text" [(ngModel)]="preMedico" name="preMedico"></ion-input>
          <ion-button class="button button-small" (click)="actualizarPreMedico()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="ePediatria">
          <img class="iconos" src="assets/icon/2.ProgramasAcademicos/6.EspecializacionenPediatria.png" alt="">
          <ion-input placeholder="E. Pediatría" type="text" [(ngModel)]="especializacionpediatra"
            name="especializacionpediatra">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarEspecializacionPediatra()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="mRiesgosLaborales">
          <img class="iconos" src="assets/icon/2.ProgramasAcademicos/7.MaestriaenCienciasBiomedicas.png" alt="">
          <ion-input placeholder="M. Riesgos Laborales" type="text" [(ngModel)]="maestriariesgoslaborales"
            name="maestriariesgoslaborales">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarMaestriaRiesgosLaborales()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="maestriaenCienciasBiomedicas">
          <img class="iconos" src="assets/icon/2.ProgramasAcademicos/6.EspecializacionenPediatria.png" alt="">
          <ion-input placeholder="M. Ciencias Biomédicas" type="text" [(ngModel)]="maestriacienciasbiomedicas"
            name="maestriacienciasbiomedicas"></ion-input>
          <ion-button class="button button-small" (click)="actualizarMaestriaCienciasBiomedicas()">Actualizar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="doctoradoEnCienciasBiomedicas">
          <img class="iconos" src="assets/icon/2.ProgramasAcademicos/7.MaestriaenCienciasBiomedicas.png" alt="">
          <ion-input placeholder="D. Ciencias Biomédicas" type="text" [(ngModel)]="doctoradocienciasbiomedicas"
            name="doctoradocienciasbiomedicas"></ion-input>
          <ion-button class="button button-small" (click)="actualizarDoctoradoCienciasBiomedicas()">Actualizar
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="bilbiotecaCRAI">
          <img class="iconos" src="assets/icon/3.Biblioteca/1.BibliotecaCRAI.png" alt="">
          <ion-input placeholder="Biblioteca CRAI" type="text" [(ngModel)]="bibliotecacrai" name="bibliotecacrai">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarBibliotecaCrai()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="bibliotecaFac">
          <img class="iconos" src="assets/icon/3.Biblioteca/3.BibliotecaFacultad.png" alt="">
          <ion-input placeholder="Biblioteca Facultad " type="text" [(ngModel)]="bibliotecafacultad"
            name="bibliotecafacultad">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarBibliotecaFacultad()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="contactoCRAI">
          <img class="iconos" src="assets/icon/3.Biblioteca/2.ContactoCRAI.png" alt="">
          <ion-input placeholder="Contacto CRAI" type="text" [(ngModel)]="contactocrai" name="contactocrai">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarContactoCrai()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="proyectosExtension">
          <a href=""> <img class="iconos" src="assets/icon/5.Extension/1.ProyectosdeExtension.png" alt=""></a>
          <ion-input placeholder="Proyectos de Extensión" type="text" [(ngModel)]="proyectodeextension"
            name="proyectodeextension"></ion-input>
          <ion-button class="button button-small" (click)="actualizarProyectodeExtension()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="convocatorias">
          <a href=""> <img class="iconos" src="assets/icon/5.Extension/2.Convocatorias.png" alt=""></a>
          <ion-input placeholder="Convocatorias" type="text" [(ngModel)]="convocatorias" name="convocatorias">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarConvocatorias()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="bolsaEmpleo">
          <a href=""> <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt=""></a>
          <ion-input placeholder="Bolsa de Empleo" type="text" [(ngModel)]="bolsaempleo" name="bolsaempleo">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarBolsadeEmpleo()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="CLIL"><img class="iconos" src="assets/icon/4.eduLAB/1.CLIL.png" alt="">
          <ion-input placeholder="CLIL" type="text" [(ngModel)]="clil" name="clil"></ion-input>
          <ion-button class="button button-small" (click)="actualizarCLiL()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="asesoriasEdulab">
          <img class="iconos" src="assets/icon/4.eduLAB/2.Asesorias.png" alt="">
          <ion-input placeholder="Asesorías EduLAB" type="text" [(ngModel)]="asesorias" name="asesorias"></ion-input>
          <ion-button class="button button-small" (click)="actualizarAsesorias()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="guiaDidactica">
          <img class="iconos" src="assets/icon/4.eduLAB/3.GuiaDidactica.png" alt="">
          <ion-input placeholder="Guía Didáctica" type="text" [(ngModel)]="guiadidactica" name="guiadidactica">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarGuiaDidactica()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="bancoImagenes">
          <img class="iconos" src="assets/icon/4.eduLAB/4.ImagenesLibres.png" alt="">
          <ion-input placeholder="Bancos Imágenes Libres" type="text" [(ngModel)]="bancoimageneslibres"
            name="bancoimageneslibres"></ion-input>
          <ion-button class="button button-small" (click)="actualizarBancoImagenesLibres()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="kitMontaje">
          <img class="iconos" src="assets/icon/4.eduLAB/5.KitMontajeCursos.png" alt="">
          <ion-input placeholder="Kit para Montaje Cursos" type="text" [(ngModel)]="kitparamontajescurso"
            name="kitparamontajescurso"></ion-input>
          <ion-button class="button button-small" (click)="actualizarKitparaMontajesCursos()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="proyectoTransformacionPedagogica">
          <img class="iconos" src="assets/icon/4.eduLAB/6.ProyectoTransformacionPedagogica.png" alt="">
          <ion-input placeholder="Transformación Pedagógica" type="text" [(ngModel)]="proyectotransformacionpedagogica"
            name="proyectotransformacionpedagogica"></ion-input>
          <ion-button class="button button-small" (click)="actualizarproyectotransformacionpedagogica()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="normativa">
          <img class="iconos" src="assets/icon/8.Normativa/0.Normativa.png" alt="">
          <ion-input placeholder="Normativa" type="text" [(ngModel)]="normativa" name="normativa"></ion-input>
          <ion-button class="button button-small" (click)="actualizarNormativa()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="BienestarUniversitario">
          <img class="iconos" src="assets/icon/6.BienestarUniversitario.png" alt="">
          <ion-input placeholder="Bienestar Universitario" type="text" [(ngModel)]="bienestaruniversitario"
            name="bienestaruniversitario"></ion-input>
          <ion-button class="button button-small" (click)="actualizarBienestarUniversitario()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="youtube">
          <img class="iconos" src="assets/icon/7.RedesSociales/1.Youtube.png" alt="">
          <ion-input placeholder="Youtube" type="text" [(ngModel)]="youtube" name="youtube"></ion-input>
          <ion-button class="button button-small" (click)="actualizarYoutube()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="facebook">
          <img class="iconos" src="assets/icon/7.RedesSociales/2.Facebook.png" alt="">
          <ion-input placeholder="Facebook" type="text" [(ngModel)]="facebook" name="facebook"></ion-input>
          <ion-button class="button button-small" (click)="actualizarFacebook()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="portalUQ">
          <img class="iconos" src="assets/icon/7.RedesSociales/4.PortalWeb.png" alt="">
          <ion-input placeholder="Portal Web UQ " type="text" [(ngModel)]="portalwebuq" name="portalwebuq">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarPortalWebUQ()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="dirEnfermeria">
          <img class="iconos" src="assets/icon/7.RedesSociales/5.Directorio.png" alt="">
          <ion-input placeholder="Directorio Enfermería" type="text" [(ngModel)]="dirEnfermeria" name="directorio">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarDirEnfermeria()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="dirMedicina">
          <img class="iconos" src="assets/icon/7.RedesSociales/5.Directorio.png" alt="">
          <ion-input placeholder="Directorio Medicina" type="text" [(ngModel)]="dirMedicina" name="directorio">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarDirMedicina()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="dirGeneral">
          <img class="iconos" src="assets/icon/7.RedesSociales/5.Directorio.png" alt="">
          <ion-input placeholder="Directorio General" type="text" [(ngModel)]="dirGeneral" name="directorio">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarDirGeneral()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="eventos">
          <img class="iconos" src="assets/icon/7.RedesSociales/6.Eventos.png" alt="">
          <ion-input placeholder="Eventos" type="text" [(ngModel)]="eventos" name="eventos"></ion-input>
          <ion-button class="button button-small" (click)="actualizarEventos()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="mosaicos">
          <img class="iconos" src="assets/icon/7.RedesSociales/7.Mosaicos.png" alt="">
          <ion-input placeholder="Mosaicos" type="text" [(ngModel)]="mosaico" name="mosaico"></ion-input>
          <ion-button class="button button-small" (click)="actualizarMosaicos()">Actualizar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero" id="googleMaps">
          <img class="iconos" src="assets/icon/7.RedesSociales/3.GoogleMap.png" alt="">
          <ion-input placeholder="Tour Virtual FaCSalUQ" type="text" [(ngModel)]="googlemap" name="googlemap">
          </ion-input>
          <ion-button class="button button-small" (click)="actualizarGoogleMap()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tablero" id="contactenos">
          <img class="iconos" src="assets/icon/7.RedesSociales/6.Eventos.png" alt="">
          <ion-input placeholder="Contáctenos" type="text" [(ngModel)]="contactenos" name="contactenos"></ion-input>
          <ion-button class="button button-small" (click)="actualizarContactenos()">Actualizar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>