<ion-header>
  <ion-toolbar color="primary">
    <h3 class="text"><strong>Extensión</strong></h3>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="tablero">
    <a [href]="linkproyectosdeextension"> <img class="iconos" src="assets/icon/5.Extension/1.ProyectosdeExtension.png"
        alt=""></a>
    Proyectos de Extensión
  </div>

  <div class="tablero" id="csu">
    <a [href]="linkconvocatoria"> <img class="iconos" src="assets/icon/5.Extension/2.Convocatorias.png" alt=""></a>
    Convocatorias
  </div>

  <div class="tablero" id="aulas_virtuales">
    <a [href]="linkbolsadeempleo"> <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt=""></a>
    Bolsa de Empleo
  </div>

  <div class="tablero" id="aulas_virtuales">
    <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt="" (click)="mostarEducate()">
    Educate en Salud
  </div>

  <div class="tablero" id="GPE">
    <a [href]="linkgpe"> <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt=""> </a>
    GPE
  </div>

  <div class="tablero" id="asesoria_proyectos">
    <a [href]="linkasesoria"> <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt=""> </a>
    Asesoría Creación de Proyectos
  </div>

  <div class="tablero" id="emprendimiento">
    <a [href]="linkemprendimiento"> <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt=""> </a>
    Emprendimiento
  </div>

  <div class="tablero" id="graduados">
    <a [href]="linkgraduados"> <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt=""> </a>
    Graduados
  </div>

  <div class="tablero" id="intercambios">
    <a [href]="linkintercambios"> <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt=""> </a>
    Intercambios o Movilidad Nacional e Internacional
  </div>

  <div class="tablero" id="eventos">
    <a [href]="linkeventos"> <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt=""> </a>
    Eventos
  </div>

  <div class="tablero" id="convenios">
    <a [href]="linkconvenios"> <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt=""> </a>
    Convenios
  </div>

  <div class="tablero" id="contacto">
    <a [href]="contactoExtension"> <img class="iconos" src="assets/icon/5.Extension/3.BolsaDeEmpleo.png" alt=""> </a>
    Contacto
  </div>

  <ion-button (click)="regresar()" expand="block">Regresar</ion-button>
</ion-content>