<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="center">GestionarUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <img class="icon" src="../assets/icon/1.ImagenApp+Login.png" alt="">

  <div class="padre">
    <label><b>Perfil para gestionar usuarios</b> <br><br>
      Este perfil se encarga de gestionar los usuarios registrados. <br>
      Crear, buscar, Actualizar y eliminar.<br><br>
    </label>
  </div><br><br>

  <div class="">
    <ion-button href="/createUsuario">Registrar </ion-button>
    <ion-button href="/readUsuario">Buscar </ion-button>
    <ion-button href="/updateUsuario">Actualizar </ion-button>
    <ion-button href="/deleteUsuario">eliminar </ion-button>
    <ion-button href="/tableroMandoAdmin/4" class="center">Volver</ion-button>
  </div>




</ion-content>