<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="center">GestionarUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="default">
    <tr>
      <td>Celda 1</td>
      <td>Celda 2</td>
      <td>Celda 3</td>
    </tr>
    <tr>
      <td>Celda 4</td>
      <td>Celda 5</td>
      <td>Celda 6</td>
    </tr>
  </table>
  <div class="">
    <ion-button href="/readUsuario">Buscar </ion-button>
    <ion-button href="/updateUsuario">Actualizar </ion-button>
    <ion-button href="/deleteUsuario">eliminar </ion-button>
    <ion-button href="/tableroMandoAdmin/4" class="center">Volver</ion-button>
  </div>




</ion-content>