<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button menu="menu" aria-hidden="false"></ion-menu-button>
    </ion-buttons>

    <ion-title class="center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu 
    side="start" 
    menuId="menu"
    contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><a routerLink="/editar-usuario" expand="block">Editar Información</a></ion-item>
      <ion-item><a routerLink="/cambiar-contrasena" expand="block">Cambiar Contraseña</a></ion-item>
      <ion-item (click)="onLogout()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="principal"></ion-router-outlet>
<ion-content>
  <ion-grid id="panel_principal">
    <ion-row >
      <ion-col>
        <div class="tablero">
          <img class="iconos" src="assets/icon/prueba1.png" alt="" (click)="mostarServiciosAcademicos()">
          <p *ngIf="modalDataResponse">{{modalDataResponse}}</p>
          Servicios Académicos
        </div>
      </ion-col>
      <ion-col >
        <div class="tablero">
          <img class="iconos" src="assets/icon/17.Enfermeria.png" alt="" (click)="mostarPreguntasFrecuentes()">
          <p *ngIf="modalDataResponse">{{modalDataResponse}}</p>
          Preguntas Académicas
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero">
          <a href="https://www.uniquindio.edu.co/programas/publicaciones/315/gerontologia/"> <img class="iconos" src="assets/icon/18.Gerontologia.png" alt=""></a>
          <p *ngIf="modalDataResponse">{{modalDataResponse}}</p>
          Biblioteca
        </div>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
        <div class="tablero">
          <a href="https://www.uniquindio.edu.co/programas/publicaciones/313/seguridad-y-salud-en-el-trabajo/"> <img class="iconos" src="assets/icon/19.SST.png" alt=""></a>
          eduLAB
        </div>
      </ion-col>
      <ion-col >
        <div class="tablero">
          <a href="https://www.uniquindio.edu.co/convocatorias/"> <img class="iconos" src="assets/icon/11.Convocatorias.png" alt=""></a>
          Extensión
        </div>
      </ion-col>
      <ion-col>
        <div class="tablero">
          <a href="https://www.youtube.com/channel/UC46RMqZYV9dG2LOgBnu3iNA"> <img class="iconos" src="assets/icon/14.CanalYoutubeFac.png" alt=""></a>
          Bienestar Universitario
        </div>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
        <div class="tablero">
          <a href="https://noticias.uniquindio.edu.co/"> <img class="iconos" src="assets/icon/7.Noticias.png" alt=""></a>
          Redes Sociales
        </div>
      </ion-col>
    </ion-row>      
  </ion-grid>
</ion-content>