<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="center">Actualizar Link</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="wrapper">
    <div class="icn2">
      <a href="https://csu.uniquindio.edu.co/formulario/User"> <img class="iconos"
          src="assets/icon/5.OlvidoContrasenia+CSU.png" alt=""></a>
    </div>

    <ion-input placeholder="Link de CSU aquí!"></ion-input>

    <ion-button class="online-block">Actualizar</ion-button>

  </div>


</ion-content>