<ion-header>
  <ion-toolbar color="primary">
    <h3 class="text"><strong>Biblioteca</strong></h3>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="tablero">
    <a [href]="linkclil"> <img class="iconos" src="assets/icon/4.eduLAB/1.CLIL.png" alt=""></a>
    CLIL
  </div>

  <div class="tablero" id="csu">
    <a [href]="linkasesoria"> <img class="iconos" src="assets/icon/4.eduLAB/2.Asesorias.png" alt=""></a>
    Asesorías
  </div>

  <div class="tablero" id="aulas_virtuales">
    <a [href]="linkguiadidactica"> <img class="iconos" src="assets/icon/4.eduLAB/3.GuiaDidactica.png" alt=""></a>
    Guía Didáctica
  </div>

  <div class="tablero" id="aulas_virtuales">
    <a [href]="linkbancosimageneslibres"> <img class="iconos" src="assets/icon/4.eduLAB/4.ImagenesLibres.png"
        alt=""></a>
    Bancos Imágenes Libres
  </div>

  <div class="tablero" id="aulas_virtuales">
    <a [href]="linkkitparamontajecursos"> <img class="iconos" src="assets/icon/4.eduLAB/5.KitMontajeCursos.png"
        alt=""></a>
    Kit para Montaje Cursos
  </div>

  <ion-button (click)="regresar()" expand="block">Regresar</ion-button>
</ion-content>