<ion-header>
  <ion-toolbar color="primary">
    <h3 class="text"><strong>Servicios Académicos</strong></h3>
  </ion-toolbar>
</ion-header>

<ion-content>

        <div class="tablero" >
          <a href="https://enlinea.uniquindio.edu.co/enlinea/#!/categories"> <img class="iconos" src="assets/icon/1.ServiciosAcademicos/2.SAC.png" alt=""></a>
          SAC
        </div>

        <div class="tablero" id="csu">
          <a href="https://csu.uniquindio.edu.co/helppeople/Administracion/usuarios/Formulario.aspx"> <img class="iconos" src="assets/icon/1.ServiciosAcademicos/5.CSU.png" alt=""></a>
          CSU
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href="https://aulasvirtuales.uniquindio.edu.co/login/index.php"> <img class="iconos" src="assets/icon/1.ServiciosAcademicos/3.AulasVirtuales.png" alt=""></a>
          Aulas Virtuales
        </div>

        <div class="tablero" id="aulas_virtuales">
          <a href=""> <img class="iconos" src="assets/icon/1.ServiciosAcademicos/4.Campus-Virtual.png" alt=""></a>
          Campus Virtual
        </div>
        <ion-button (click)="regresar()" expand="block">Regresar</ion-button>
</ion-content>
