<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="center">Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/icon/Personajes/1.Login.png" alt="">


  <div class="dato">
    <label> Escribe tu <b>correo electrónico</b>, para enviarte las instrucciones para crear una <b>nueva contraseña
        en Facsaluq.</b>.
    </label>
  </div>

  <ion-item class="ion-margin-bottom dato">
    <ion-input type="text" [(ngModel)]="email" placeholder="Ingrese su correo electrónico" name="email"></ion-input>
  </ion-item>
  <ion-button class="ion-margin-top" (click)="onEnviarCorreo()" expand="block" shape="round">Enviar </ion-button>

  <div class="ion-text-center ion-margin-top">
    <a routerLink="/tableroMando" expand="block">Regresar</a>
  </div>

</ion-content>