<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>Recuperar contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Restablecer contraseña</h1>
    <ion-label style="text-align:center">  Ingresa el correo electrónico con el que te registraste, te enviaremos instrucciones para crear una nueva contraseña
    </ion-label>
  </div>

  <form id="form">
    <ion-item class="ion-margin-bottom">
      <ion-input></ion-input>
    </ion-item>
    <ion-button routerLink="/login"expand="block" shape="round" color="secondary">Enviar </ion-button>

  </form>
</ion-content>
