<ion-header>
  <ion-toolbar color="primary">
    <h3 class="text"><strong>Autores</strong></h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="textAutoria">
    <ion-row>
      <ion-col>     
        <strong>Concepto y funcionalidades app: </strong>
        <ul>
          <li>Jorge Luis Duque Valencia</li>
          <li>Ana Maria Arrieta</li>
          <li>Santiago Arango Campuzano</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Desarrollo app por: </strong>
        <ul>
          <li>Yosimar Naranjo Mancilla</li>
          <li>Jorge Esteban Triviño Correa</li>
          <li>Julián Esteban Núñez Bejarano</li>
        </ul>
        <div>
          Proyecto desarrollado en la asignatura de Ingeniería de Software III orientada por el docente Faber D. Giraldo Velásquez
          <br>
          Noveno Semestre de Ingeniería de Sistemas y Computación
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Diseño Visual: </strong>
        <ul>
          <li>Ana Maria Arrieta</li>
          <li>Diego Fernando Garzón</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Diseño de Emojis: </strong>
        <ul>
          <li>Ana Maria Arrieta</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Vectores tomados de freepick y modificados por Ana Maria Arrieta L: </strong>
        <ul>
          <li><a href="http://www.freepik.com">Designed by Freepik</a></li>
          <li><a href="http://www.freepik.com">Designed by Ibrandify / Freepik</a></li>
          <li><a href="http://www.freepik.com">Designed by macrovector / Freepik</a></li>
        </ul>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <div class="textDerechos center">
    &copy; Todos los derechos reservados Facultad de Ciencias de la Salud Universidad del Quindio
  </div>
  
  <ion-button (click)="regresar()" expand="block">Regresar</ion-button>
</ion-content>