/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.colorInstitucional {
  --background: #1169b0;
}

.icon {
  max-width: 30%;
  padding: auto;
  padding-top: 10%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon2 {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
}

.text {
  text-align: center;
  font-size: 18px;
}

.imagenSwal {
  max-width: 50%;
  padding: auto;
  padding-top: 5%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.padre {
  /*IMPORTANTE*/
  padding: auto;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper {
  flex: 1 0 auto;
  padding: auto;
  padding-top: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}
.ui-container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  max-width: 650px;
  margin: 0 auto;
}

.remember {
  padding: auto;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dato {
  padding: auto;
  padding-top: 20%;
  padding-left: 3%;
  padding-right: 3%;
  justify-content: left;
  align-items: center;
  text-align: justify;
  word-wrap: break-word;
}

.icn2 {
  width: 50px;
  height: 50px;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 50px;
  display: inline-block;
}

.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 100px 100px 100px;
}
